@charset "ISO-8859-1";
html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
  padding: 20px 20px; 
  width: 850px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

form fieldset {
  padding-top: 20px;
}

form div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label {
  width: 250px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input, form div > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div > ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 270px;    
}

form div > table {
  padding: 0;
}

form div > table td, form div > table th {
  margin: 0;
  padding: 1px 10px;    
}

form div > table th {
  font-weight: normal;
  background-color: #ddff77;
  color: #000000;
}


form div.submit {
  margin-top: 40px;
  background-color: #99cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}

div.ralevel1 {
    
}

div.ralevel1 > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

div.ralevel1 > table > tbody > tr > td, div.ralevel1 > table > thead > tr > th {
  padding: 2px 10px;
  border-left: 1px dotted #000000;
  vertical-align: top;
  line-height: 20px;
}

div.ralevel1 > table > tbody > tr, div.ralevel1 > table > thead > tr {
  border-bottom: 1px solid #000000;
}

div.ralevel1 > table th {
  background-color: #99cc33;
}

div.ralevel1 > table > tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

div.ralevel1 > table > tbody > tr > td > table > tbody > tr> td {
  background-color: #ddff77;
  padding: 0px 5px;
}

div.ralevel1 > table > tbody > tr > td > table > tbody > tr> td:last-child {
  text-align: right;
}


.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}
