﻿/*
   Site Style
   Author: Rodney Woollett
   Date:   12/12/2018

   Filename:         site_style.css
   Supporting Files: none

*/

body {
    font-family: 'DejaVu Sans', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: black;
}

/* Page Header */
#page-header {
    border-top: buttonhighlight 1px ridge;
    border-bottom: buttonshadow 1px ridge;
    border-left: buttonhighlight 1px ridge;
    border-right: buttonshadow 1px ridge;
    background-color: white;
}

#page-header .title {
	color: white;
	font: 24px Verdana, Arial, Helvetica, Sans-Serif;
}

#page-header .search {
	font: 12px Verdana, Arial, Helvetica, Sans-Serif;
	color: white;
	background-color: transparent;
	font-weight: bold;
}

/* Navigation */
#top-nav {
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	border-bottom: 3px solid teal;
	/* border-top: 3px solid teal; */
	background-color: #789393;
	transition: all 0.25s ease-out;
}

#top-nav ul {
	list-style: none;
}

#top-nav li {
	border-right: 3px solid teal;
	border-bottom: 3px solid teal;
	border-top: 3px solid teal;
	border-left: 3px solid teal;
}

.nav li a {
	display: inline-block;
	font-weight: bold;
}


/* To make all hover,visited links black text*/
#top-nav a {
	color: black;
	text-decoration: none;
}
#side-menu a {
	color: black;
	/* text-decoration: none; */
}
.detaillist a {
	color: blue;
	text-decoration: underline;
}

.textualbutton {
	color: blue;
	text-decoration: underline;
	display: inline-block;
	background-color: #e0eed9;
    border: none;
	cursor: pointer;
}

.textualbutton:hover, a:hover, .dropdown:hover .dropbtn {
	-webkit-transition: width 0.25s ease-out;
	-moz-transition: width 0.25s ease-out;
	transition: width 0.25s ease-out;
	z-index: 1;
}

#top-nav a:hover, .dropdown:hover .dropbtn {
	background-color: teal;
}

#side-menu a:hover, .dropdown:hover .dropbtn {
	background-color: whitesmoke;
}

#side-menu li {
	white-space: nowrap;
}

.textualbutton:hover, .detaillist a:hover, .dropdown:hover .dropbtn {
	background-color: #f0fee9;
}


.checkbox-container {
	position: relative;
	padding-left: 15px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	left: 0px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #fff;
    -webkit-box-shadow: inset 1px 1px 8px 1px #89CAB1; 
    box-shadow: inset 1px 1px 8px 1px #89CAB1;
    border: 2px inset rgba(137,202,177,0.81);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #2196F3;
}

.checkbox-container input:checked ~ .checkmark {
	/* background-position: 0 -20px; */
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 3px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Tooltip text */
.checkbox-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #9be5e4;
  color: inherit;
  text-align: center;
  padding: 5px 0;
  border: 5px ridge teal;
  border-radius: 12px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -7px;
  /* left: 105%;  */
}
.checkbox-container .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 103%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent teal transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.checkbox-container:hover .tooltiptext {
  visibility: visible;
}


/* Navigation and menu font sizes */ 
.nav {
    font-size: 14px;
}

.menu {
    font-size: 14px;
	margin: 0px;
}

/* Page container */
#page-container  {
	line-height: 1.65;
}

/* Side menu */
#side-menu {
	border-left: 3px solid teal;
	border-bottom: 3px solid teal;
	/* border-radius: 0px 0px 0px 45px; */
	/* -moz-border-radius: 0px 0px 0px 15px; */
	/* -webkit-border-bottom-left-radius: 15px; */
	box-shadow:-10px 10px 20px #0b908f;
	-webkit-box-shadow:-10px 10px 20px #0b908f;
	-moz-box-shadow: -10px 10px 20px #0b908f;
}

#side-menu > ul {
    list-style-type: none;
}

/* Main container for page content */
#main-container {
	border-left: 3px solid teal;
	border-bottom: 3px solid teal;
	border-radius: 0px 0px 45px 0px;
	-moz-border-radius: 0px 0px 45px 0px;
	-webkit-border-bottom-right-radius: 45px;
	box-shadow:-10px 10px 20px #0b908f;
	-webkit-box-shadow:-10px 10px 20px #0b908f;
	-moz-box-shadow: -10px 10px 20px #0b908f;
}


/* Section Header */
/* Topic main headers */
.topic {
    background-color: black;
    padding: 4px;
}

.subtopic {
    clear: both;
}


/* Right hand side of page */
#right-side {
	/* margin: 0px 0px 45px 15px; */
	/* padding: 15px 10px; */
	background-color: #9be5e4;
	border: 3px solid teal;
	border-radius: 0px 0px 45px 0px;
	-moz-border-radius: 0px 0px 45px 0px;
	-webkit-border-bottom-right-radius: 45px;
	 /* -moz-border-radius: 45px; */
	 /* border-radius: 45px; */
}

#right-side p {
	font-size: 0.8em;
	margin: 0px 5px 0px 15px;
}

#right-side blockquote {
	margin: 0px 25px 0px 35px;
}

#right-side h1 {
	text-align: center;
	font-weight: normal;
	font-size: 1.2em;
	margin: 0px 5px 0px 35px;
}


h1 {
    font: 18px Tahoma, Verdana, sans-serif;
}

/* Main Content is ID: page-content */
#page-content {
	margin: 0px;
	/* font-size: 12px; */
}

#page-content h1, #side-menu h1 {
	font-weight: normal;
	font-size: 1.8em;
	margin:0px;
}


#page-content h2, #side-menu h2 {
	font-weight: normal;
	font-size: 1.3em;
	margin:0px;
}

#page-content h3, #side-menu h3 {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1em;
	margin:0px;
}

#page-content p {
	text-align: justify;
	margin-right: 30px;
	font-size: 13px;
}

#page-content img {
	float: left; 
	margin: 0px 15px 30px 20px;
}

/* #page-content ul { */
	/* margin: 0px; */
/* } */

/* #page-content ol { */
	/* margin: 0px; */
/* } */

.section-header {
    background-color: black;
    padding: 4px;
}

.section-header:hover {
	background-color: blue; /* very dark green */
	padding: 4px;
	transition: background-color 1s ease-in-out 0;
}


/* A table using a definition list for tabular display of variable datatypes */
#page-content dl {
	width: 70%;
	font: 14px Tahoma, Verdana, sans-serif;
	margin: 4px 45px;
}

#page-content dl dt {
	float: left;
	width: 30%;
	overflow: hidden;
	font-weight: bold;
	text-decoration: underline;
	margin: 0;
}

#page-content dl dd {
	float: left;
	width: 70%;
	padding: 0;
	margin: 0;
}
/* this is to clear the floats after the usage in the def list styles above */
#page-content dl:after {
	content:'';
	clear:both;
	display: block;
}


#page-content ul {
	list-style: none;
	padding-left: 8px;
}

#page-content li {
	margin-top: 4px;
	margin-bottom: 8px;
}

/* the right side has some extra information shown in large screen*/
#page-content aside {
	background: url('100_0274.JPG') no-repeat bottom #000 ;
	background-size: cover;
	font-style: italic;
	color: white;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 1px 1px 8px 8px #201e57; /* shaded blue */
	-webkit-box-shadow: 1px 1px 8px 8px #201e57;
	-moz-box-shadow: 1px 1px 8px 8px #201e57;
	opacity: .6;
}
	#page-content aside:hover {
		background: url('100_0274.JPG') no-repeat bottom #000;
		background-size: auto auto;
		background-attachment: scroll;
		opacity: 1;
		box-shadow: 1px 1px 8px 8px Crimson; /* Crimson highlight */
		-webkit-box-shadow: 1px 1px 8px 8px Crimson;
		-moz-box-shadow: 1px 1px 8px 8px Crimson;
		transition: all 1s ease-in-out 0;
	}

#page-content .codefrag {
	font: 15px "Courier New", Courier, monospace;
	padding: 10px;
}

#page-content ol {
	margin: 0px 30px;
}

/* Highlight border for code fragments in javascript on the page */
.border-dash-green {
    border: 0px;
    border: 2px dashed lightgreen;
    /*background-color: #0f110f;*/ /* very dark green*/
}

/* Samples use the span highlight */
span[data-hl-state="highlight"] {
    /*padding: 15px;*/
    text-align: center;
    background-color: Crimson;
    width: 90%;
    min-height: 25px;
    transition: all 1s ease-in 0;
}
span[data-hl-state="normal"] {
    background-color: indigo; /* #0f110f;very dark green*/
}

li[data-hl-state="highlight"] {
    /*padding: 15px;*/
    /*text-align: center;*/
    background-color: Crimson;
    /*width: 90%;*/
    /*min-height: 25px;*/
    transition: all 1s ease-in 0;
}

li[data-hl-state="normal"] {
    background-color: indigo;
}

/* One page uses a border around the list movies at for loop content */
.border#sample-count-loop {
    border-left-color: buttonhighlight;
    border-bottom-color: buttonshadow;
    border-top-style: ridge;
    border-top-color: buttonhighlight;
    border-right-style: ridge;
    border-left-style: ridge;
    border-right-color: buttonshadow;
    border-bottom-style: ridge;
}

#select_loop_count {
    height: 30px;
    /*border: 1px solid red;*/
}
#select_loop_count label, #select_loop_count p {
    margin: 4px;
    padding: 4px;
    /*border: 1px solid red;*/
    float: left;
}


/* Style for places in HTML content where the user has intreraction. */
.samples {
    background-color: indigo;
    margin: 4px;
}
    .samples input {
        margin-left: 2px;
    }

    .sample div {
        margin: 4px;
    }

    .samples p, .samples input {
        transition: background 2s ease-in 0;
        padding: 2px;
    }


/* Seed starte demo https://github.com/thymeleaf/thymeleafexamples-stsm */
div.detaillist {
    font-size: 12px;
}

div.detaillist > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  /* margin-left:0px; */
}

div.detaillist > table > tbody > tr > td, div.detaillist > table > thead > tr > th {
  padding: 4px 0px 4px 3px;
  border-left: 1px dotted;
  vertical-align: middle;
  line-height: 1.1;
}

div.detaillist > table > tbody > tr, div.detaillist > table > thead > tr {
  border-bottom: 3px solid #000000;
}

div.detaillist > table th {
  background-color: #89cab1; 
}

div.detaillist > table td {
  background-color: #e0eed9;
}

div.detaillist > table td:first-child:hover {
	color: lightgreen;
}

div.detaillist > table > tbody > tr > td:first-child, div.detaillist > table th:first-child {
	text-align: center;
	vertical-align: middle;
}

/* div.detaillist > table th:first-child { */
	/* text-align: center; */
	/* vertical-align: middle; */
/* } */

div.detaillist > table > tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

div.detaillist > table > tbody > tr > td > table > tbody > tr> td {
  background-color: #e0eed9;
  /* padding: 0px 0px 4px 0px; */
}
/* div.detaillist > table > tbody > tr > td > table > tbody > tr> td:first-child { */
	/* text-align: center; */
	/* vertical-align: left; */
/* } */

/* div.detaillist > table > tbody > tr > td > table > tbody > tr> td:last-child { */
  /* text-align: justify; */
/* } */

/* div.detaillist form > button { */
	/* color: blue; */
	/* text-decoration: underline; */
	/* display: inline-block; */
	/* background-color: #e0eed9; */
    /* border: none; */
/* } */

div.detailform {
    font-size: 12px;
}

div.detailform form {
	/* margin-left: 0px; */
}

form fieldset {
  /* padding-top: 20px; */
  /* margin-left:0px; */
}


form div.form-field > label {
  text-align: left;
  line-height: 20px;
  padding-right: 5px;
  padding-top: 5px;
  font-weight: bold;
}

form div.form-field > input, form div.form-field > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div.form-field > table {
  margin: 5px;
  border-collapse: collapse;
  border: 1px solid #000;
  margin-left:0px;
}

form div.form-field > table td, form div.form-field > table th {
  margin: 0px;
  padding: 1px 4px;    
  /* border-left: 1px dotted; */
}

form div.form-field > table th {
  font-weight: normal;
  background-color: #e0eed9;
  color: #000000;
}


form div.submit {
  margin-top: 40px;
  background-color: #89cab1;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}



.fieldError {
    border: 1px solid red;
}

.error {
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 0px 10px 20px 10px;
    padding: 10px 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    /* margin: 3px 0px; */
}


/* Footer to the page common to site */
#footer {
	text-align: center;
	font-size: 0.8em;
	font-style: normal;
	font-variant: small-caps;
	border-top: 1px solid black;
}

#footer address {
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	clear: both;
}
